<div id="<%= dom_id check_in %>">
  <p>
    <strong>Luggage num:</strong>
    <%= check_in.luggage_num %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= check_in.name %>
  </p>

  <p>
    <strong>Room num:</strong>
    <%= check_in.room_num %>
  </p>

  <p>
    <strong>People num:</strong>
    <%= check_in.people_num %>
  </p>

  <p>
    <strong>Received date time:</strong>
    <%= check_in.received_date_time %>
  </p>

  <p>
    <strong>Received by:</strong>
    <%= check_in.received_by %>
  </p>

  <p>
    <strong>Checkout date time:</strong>
    <%= check_in.checkout_date_time %>
  </p>

  <p>
    <strong>Checkout by:</strong>
    <%= check_in.checkout_by %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= check_in.remarks %>
  </p>

</div>
